* {
    background-color: #f8f8f8;
    color: #444444;
    font-family: "Comfortaa";
    /*border: 1px dashed blue;*/
}

article {
    background-color: white;
    text-align: justify;
    background-color: white;
    max-width: 800px;
    margin: 60px auto 20px auto;
    border: #cccccc 1px solid;
    padding: 6px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #cccccc;
}

body {
    background-color: #f8f8f8;
}

div {
    padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 0 0 0 #cccccc;
}

footer p {
    margin-left: 30px;
}

h1 {
    font-size: 30px;
    padding-left: 15px;
    color: #444444;
    background-color: white;
}

h2 {
    font-size: 24px;
    padding-left: 15px;
    color: #444444;
    background-color: white;
}

.handwritten {
    background-color: white;
    font-family: "Caveat";
    font-size: 20pt;
    text-align: left;
}

header {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 100;
    border-bottom: #cccccc 1px solid;
    background-color: white;
    height: 50px;
    font-size: 50px;
    box-shadow: 0 0 1px 0 #cccccc;
}

header div a {
    float: left;
}

img.smaller_image {
    width: 200px;
    padding: 10px;
    background-color: #eeeeee;
}

li {
    /*padding: 5px 15px 5px 0;*/
    background-color: white;
    display: inline;
    margin: 0 10px;
}

#menu_links {
    max-width: 800px;
    float: left;
}

#motto {
    clear: both;
    background-color: white;
    padding-left: 15px;
}

.person {
    background-color: white;
    padding-left: 15px;
    float: left;
    clear: both;
}

.person img {
    max-width: 300px;
    border: blue dotted 1px;
}

.person p {
    float: left;

}

ul {
    background-color: white;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#logo {
    background-color: white;
    height: 50px;
    padding-left: 30px;
}

nav {
    height: 50px;
    /*border-bottom: #47b1ed 4px solid;*/
    background-color: white;
    font-size: 14px;
    color: #cccccc;
    float: left;
}

p {
    background-color: white;
    color: #333333;
    text-align: justify;
    padding: 0 15px 0 15px;
}

.person_details {
    float: left;
    background-color: white;
}

.person_details p {
    float: left;
    background-color: white;
    color: #333333;
    padding: 0 15px 0 15px;
}

#searchbar {
    width: 800px;
    background-color: #f8f8f8;
    font-size: 20px;
}

#SkypeButton_Call_finnovatec_1,
#SkypeButton_Call_finnovatec_1_paraElement a,
#SkypeButton_Call_finnovatec_1_paraElement img {
    background-color: white;
    max-width: 100px;
    float: left;
}

#top ul li a,
footer ul li a {
    font-size: 14px;
    padding: 6px;
    background-color: white;

}

.person h2 {
    clear: both;
}

.person img {
    float: left;
}

.person p {
    float: left;
}

span {
    padding: 50px 0 0 30px;
    margin-top: 20px;
    font-size: 40px;
}

span a {
    text-decoration: none;
}
